---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Body from "./Body.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, slug } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <Body>
    <article>
      <time class="block text-gray-600 text-sm mb-1">
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </time>

      <h1 class="text-3xl font-bold tracking-tight mb-4">
        {slug}
        {title}
      </h1>

      <div class="markdown">
        <slot />
      </div>
    </article>
  </Body>
</html>
